p
{
	color:#000000;
	font-size:50pt;
	font-weight:bold;
	font-family:Impact;
}

.encabezado{
	background:withe;
	color:red;
	width:90%;
	border-radius:15px;
	font-family:Impact;
}

.boton_azul{
	background:red;
	color:white;
	font-size:30pt;
	width:250px;
	border-radius:45px;
	font-family:Impact;
	margin-right:70px;

}

.boton_azul:hover{
	background:white;
	color:red;

}

.boton_rojo{
	background:white;
	color:red;
	font-size:30pt;
	width:250px;
	border-radius:45px;
	font-family:Impact;

}

.boton_rojo:hover{
	background:red;
	color:white;

}


